.add-student, .edit-student{
    padding: 0.5rem 1rem;
    background-color: orange;
    border-radius: 0.5rem;
}

.delete-btn{
    margin-left: 1rem;
}

.gender-input{
    margin: 0 0.5rem;
}

.filter{
    margin-right: 0.5rem;
}